body {
    display: flex;
    /* padding: 40px; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    /* display: flex; */
    background-color: blanchedalmond;
    width: 500px;
    border: 2px none black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}

/* .container:hover {
    border-radius: 12px;
    padding: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
} */

.container__top {
    display: inline-flex;
    background-color: whitesmoke;
    height: 200px;
    /* max-width: fit-content; */
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
}

.container__top:hover {
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}

/* .container__article-list {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 200px;
} */

button {
    display: inline-block;
    background-color: black;
    color: white;
    width: 100%;
    border: 1px none black;
    border-radius: 8px;
    padding: 10px 0px
}