body {
    display: flex;
    /* padding: 40px; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    background-color: blue;
    color: white;
    /* width: 100%; */
    border: 1px none black;
    border-radius: 8px;
    padding: 10px;
}

button:hover {
    background-color: black;
    color: white;
    /* width: 100%; */
    border: 1px none black;
    border-radius: 8px;
    padding: 20px;
}